Analizador/__init__.py
Explorador/__init__.py
Verificador/__init__.py
/Verificador/__pycache__
/Generador/__pycache__
/Explorador/__pycache__
/__pycache__
/Archivos/__pycache__
/Analizador/__pycache__
